{% extends 'blog/base.html' %}
{% block content %}

<div class="col-sm-10">
<h3 class="text-white my-5">About Page</h3>
<p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aliquam iusto modi perferendis commodi cum doloribus, obcaecati nihil repellendus consectetur sed facere tempore repellat ducimus voluptate praesentium magnam ad voluptas debitis vero! Veniam tempora unde illum reiciendis ut quasi labore! Ratione odit totam pariatur quisquam aspernatur eos dolor omnis architecto?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae tempore neque aspernatur officia cum adipisci eligendi, autem sapiente sint earum perspiciatis sequi vel, deleniti debitis rem expedita unde suscipit? Itaque?</p>
</div>

{% endblock content %}