{% extends 'blog/base.html' %} {% load static %} {% block content %}
<div class="col-sm-10">
  <h3 class="text-white my-5">Home Page</h3>

  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
      <h1 class="display-4 font-weight-bold">This is Blog Titile</h1>
      <p class="lead">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum,
        laboriosam incidunt at, magni, est qui repellendus praesentium
        reprehenderit repellat animi veritatis modi nemo. Repudiandae nemo iste
        vitae necessitatibus a!
      </p>
    </div>
  </div>
</div>

{% endblock content %}
